/* 
phone =         0-600px
tab-port =      600-900px
tab-land =      900-1200px
( current =     1200-1800px )
big-desktop =   1800px +
*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: ubuntu;
  color: #ededed;
  line-height: 1.4;
}

.heading-primary {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #ededed, #878787);
  background-clip: text;
  color: transparent;
}
.heading-primary--dark {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #878787, #0c0c0c);
  background-clip: text;
  color: transparent;
}

.heading-secondary {
  font-weight: 700;
  font-size: 2.1rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right bottom, #f7f7f7, #0c0c0c);
  background-clip: text;
  color: transparent;
}
.heading-secondary--light {
  font-weight: 700;
  font-size: 2.1rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right bottom, #f7f7f7, #cdcdcd);
  background-clip: text;
  color: transparent;
}

.mb-small {
  margin-bottom: 2rem;
}

.mb-medium {
  margin-bottom: 4rem;
}

.mb-large {
  margin-bottom: 6rem;
}

.mb-xl {
  margin-bottom: 8rem;
}

.mt-small {
  margin-top: 2rem;
}

.mt-medium {
  margin-top: 4rem;
}

.mt-large {
  margin-top: 6rem;
}

.mt-xl {
  margin-top: 8rem;
}

.btn, .btn:link, .btn:visited {
  display: inline-flex;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  color: #60b1f0;
  text-transform: capitalize;
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  box-shadow: 0 0 0.8rem #115590 inset;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(1.1) translateY(-0.5rem);
  background-color: #3091dc;
  padding: 1rem 4rem;
  color: #ededed;
}

.navigation {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 2.5rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1.2rem);
}
.navigation__list {
  list-style: none;
  display: flex;
  padding-left: 0;
}
.navigation__items {
  transition: all 0.3s ease-in-out;
}
.navigation__items:not(:last-child) {
  margin-right: 6.5rem;
}
.navigation__items:hover {
  transform: scale(1.1) translateY(-0.4rem);
  text-shadow: 0 0.2rem 1rem #60b1f0, 0 0.2rem 2rem #60b1f0, 0 0.1rem 0.5rem #3091dc, 0 0.2rem 2.5rem #60b1f0, 0 0.1rem 3.5rem #60b1f0, 0 0.1rem 4rem #f7f7f7;
}
.navigation__link {
  z-index: 101;
  text-decoration: none;
  font-size: 1.6rem;
  color: #ededed;
  text-transform: uppercase;
}

.header {
  position: relative;
  margin-bottom: 12.5rem;
}
.header__background {
  height: 100vh;
  width: 100%;
}
.header__video {
  width: 100%;
}

.section-about {
  padding: 7rem 10rem;
  background-color: #000000;
}
.section-about__title {
  text-align: center;
}

.break-line {
  margin-top: -7rem;
  height: 0.5rem;
  background-color: #ededed;
}

.about-card {
  display: flex;
  column-gap: 3rem;
  justify-content: space-between;
}
.about-card__item {
  background-image: linear-gradient(to right bottom, rgba(135, 135, 135, 0.15), rgba(12, 12, 12, 0));
  border-radius: 0.5rem;
  box-shadow: 0.3rem 1rem 3rem rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.5rem);
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 25%;
  transition: all 0.3s ease-in-out;
}
.about-card__item:hover {
  transform: scale(1.1);
  box-shadow: 0.3rem 1rem 3rem rgba(0, 0, 0, 0.4), -0.4rem -1.4rem 4rem rgba(135, 135, 135, 0.4) inset;
}
.about-card__item:hover .about-card__image > .about-card__image-file {
  transform: scale(1.3);
}
.about-card__title {
  padding-bottom: 1rem;
  border-bottom: 2px solid #878787;
}
.about-card__text {
  font-size: 1.4rem;
  font-weight: 300;
  color: #ededed;
}
.about-card__image {
  border-radius: 0.4rem;
  height: 100%;
  width: 100%;
  flex: 1;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
}
.about-card__image-file {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.6s ease-in-out;
}

.about-button {
  text-align: center;
  margin-bottom: 6rem;
}

.showcase {
  background-color: #ededed;
  padding: 7rem 10rem;
  margin-top: -11.2rem;
  clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
}
.showcase__title {
  text-align: center;
}
.showcase__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  justify-content: center;
  column-gap: 5rem;
  row-gap: 5rem;
  margin-bottom: 15rem;
}
.showcase__shape {
  width: 28%;
  height: 50rem;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.6rem 1.7rem rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
.showcase__shape:hover {
  transform: translateY(-1rem);
  box-shadow: 0 1rem 2.1rem rgba(0, 0, 0, 0.25);
}
.showcase__shape:hover .showcase__caption {
  transform: translate(-50%, -25%);
  opacity: 1;
}
.showcase__shape:hover .showcase__photo {
  transform: scale(1.2);
  filter: brightness(50%) blur(0.2rem);
}
.showcase__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.showcase__caption {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 120%);
  opacity: 0;
  width: 100%;
  text-align: center;
  padding: 2rem 2.5rem;
  transition: all 0.4s ease-in-out;
}

.skillset {
  display: flex;
  background-color: #878787;
  padding: 7rem 10rem;
  column-gap: 5rem;
  margin-top: -11.2rem;
  clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
}

.skillcard {
  display: inline-block;
  background-image: linear-gradient(to right bottom, #60b1f0, #115590);
  padding: 4rem 4rem;
  border-radius: 0.5rem;
}
.skillcard__img {
  height: 20%;
  width: 100%;
  border-radius: 0.4rem;
  margin-bottom: 3rem;
}
.skillcard__title {
  font-size: 1.8rem;
  text-align: center;
}
.skillcard__list {
  list-style: none;
  text-align: center;
}
.skillcard__item {
  font-size: 1.5rem;
}
.skillcard__item:not(:last-child) {
  margin-bottom: 1rem;
  border-bottom: 2px solid #ededed;
  padding-bottom: 1rem;
}

/*# sourceMappingURL=style.css.map */
