// COLOR

$color-primary: #d42e2e;
$color-primary-light: #ed5e5e;
$color-primary-dark: #7d0d0d;

$color-secondary: #3091dc;
$color-secondary-light: #60b1f0;
$color-secondary-dark: #115590;

$color-tertiary: #d7c536;
$color-tertiary-light: #e9db6e;
$color-tertiary-dark: #8b7712;

$color-grey: #cdcdcd;
$color-grey-light: #ededed;
$color-grey-dark: #878787;

$color-white: #f7f7f7;
$color-black: #0c0c0c;
